<h4 class="p-2">Output</h4>
<table class="table table-striped">
    <thead>
        <tr>
            <th>
                id
            </th>
            <th>
                Cédula
            </th>
            <th>
                Nombres
            </th>
            <th>
                Apellidos
            </th>
            <th>
                Celular
            </th>
            <th>
                Genero
            </th>
        </tr>
    </thead>
    <tbody>
        <% if (data) { %>
            <% for (var i = 0; i < data.length; i++) { %>
                <tr>
                    <td>
                        <%= data[i].id %>
                    </td>
                    <td>
                        <%= data[i].cedula %>
                    </td>
                    <td>
                        <%= data[i].nombres %>
                    </td>
                    <td>
                        <%= data[i].apellidos %>
                    </td>
                    <td>
                        <%= data[i].celular %>
                    </td>
                    <td>
                        <%= data[i].genero %>
                    </td>
                </tr>
                <% } %>
                    <% }  %>
    </tbody>
</table>